[submodule "radio/src/thirdparty/AccessDenied"]
	path = radio/src/thirdparty/AccessDenied
	url = https://github.com/raphaelcoeffic/AccessDenied.git
[submodule "radio/src/thirdparty/FreeRTOS"]
	path = radio/src/thirdparty/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	shallow = true
[submodule "radio/src/thirdparty/Segger_RTT"]
	path = radio/src/thirdparty/Segger_RTT
	url = https://github.com/adfernandes/segger-rtt.git
[submodule "radio/src/thirdparty/stb"]
	path = radio/src/thirdparty/stb
    url = https://github.com/nothings/stb.git
[submodule "radio/src/thirdparty/lvgl"]
	path = radio/src/thirdparty/lvgl
    url = https://github.com/EdgeTX/lvgl.git
    branch = release/v8.2
