[submodule "libopenui"]
	path = radio/src/thirdparty/libopenui
	url = https://github.com/EdgeTX/libopenui.git
	branch = master
[submodule "radio/src/thirdparty/AccessDenied"]
	path = radio/src/thirdparty/AccessDenied
	url = https://github.com/raphaelcoeffic/AccessDenied.git
[submodule "companion/src/thirdparty/yaml-cpp"]
	path = companion/src/thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
