[submodule "libopenui"]
	path = radio/src/thirdparty/libopenui
	url = https://github.com/EdgeTX/libopenui.git
	branch = master
[submodule "radio/src/thirdparty/AccessDenied"]
	path = radio/src/thirdparty/AccessDenied
	url = https://github.com/raphaelcoeffic/AccessDenied.git
[submodule "radio/src/thirdparty/littlefs_v2.4.1"]
	path = radio/src/thirdparty/littlefs_v2.4.1
	url = https://github.com/littlefs-project/littlefs.git
