/.*project
/.settings
/.autotools
/*.user
/*.user.*
/doc/
build*/
cmake-build-*/
/debian/
/*.vscode
radio/src/tests/googletest*
radio/src/tests/gtest*.tar.gz
.editorconfig
.cache
compile_commands.json
/ys_Doc
/.idea
/.vs
CMakeUserPresets.json
.DS_Store
