{% set stick_inputs = adc_inputs.inputs | selectattr('type', '==', 'STICK') %}
static const char* _stick_inputs[] = {
  {% for input in stick_inputs %}
    "{{ input.name }}",
  {% endfor %}
};

static const char* _pot_inputs[] = {
  {% for input in adc_inputs.inputs %}
    {% if input.type == 'POT' or input.type == 'SLIDER' %}
    "{{ input.name }}",
    {% endif %}  
  {% endfor %}
};
