---
name: Validate fw.json
on:
  push:
    branches:
      - 'main'
      - '[0-9]+.[0-9]+'
    tags:
      - v*  
    paths:
      - 'fw.json'
  pull_request:
    branches:
      - 'main'
      - '[0-9]+.[0-9]+'
    paths:
      - 'fw.json'
  workflow_dispatch:

jobs:
  json-validate:
    name: Validate fw.json file
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Validate fw.json syntax and schema
        run: python3 tools/validate-json.py --syntax-only

      - name: Validate fw.json alphabetical order
        run: python3 tools/validate-json.py --order-only
